<div class="container">

  <h1>New Game</h1>
  <div class="letters">
    <% @tirage.each do |letter| %>
      <ul class="tirage">
       <li class="letter"><%= letter %></li>
      </ul>
    <% end %>
  </div>

  <form action="/score" method="post" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input name="word_list" type="hidden" value=<%= @tirage.join(',') %>>
      <input type="text" id="word-enter" class="form-control" name="word" placeholder="What's the longest word you find?">
      <!-- <input type="submit" value="Play!"> -->
    </div>
    <button type="submit" class="btn btn-primary mb-2">Play!</button>
  </form>

</div>
