// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.tirage {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.letter {
  background-color: #4E97D6;
  color: white;
  padding: 12px 17px;
  font-size: 30px;
  font-family: monospace;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

#word-enter {
  width : 300px;
}
